<!DOCTYPE html>
<html>
	<head> 
		<meta charset="utf-8">
		<script src="http://d3js.org/d3.v4.min.js"></script>
		<script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" /> 
		<title > A la une présidentielle ! </title>
	</head>
	<body>
	<h1> A la une présidentielle!</h1>
	
	<nav > 
		<ul id="menu">
			<li class="active"> <a href="../" >Accueil </a></li>
			<li><a href="/avant_1er_tour" > Avant le 1er tour </a></li>
			<li><a href="/apres_1er_tour" >Après le 1er tour </a></li>
			<li> <a href="/journaux"> Journaux </a></li>
			
		</ul>
			
	</nav>
		<br/>
		<br/> 
	<h2> Voici les unes contenant le candidat {{mot}} :</h2>
	
<script type="text/javascript">
			var svg = dimple.newSvg("body", 1300, 400);
			var data = [
			  { "Journal":"20 minutes", "Nombre d'articles":{{ quantite1 }} },
			  { "Journal":"Courrier International", "Nombre d'articles":{{quantite2}} },
			  { "Journal":"La Tribune", "Nombre d'articles":{{quantite3}} },
			  { "Journal":"Le Dauphiné Libéré", "Nombre d'articles":{{quantite4}} },
			  { "Journal":"Le Figaro", "Nombre d'articles":{{ quantite5}} },
			  { "Journal":"Le Journal du Net", "Nombre d'articles":{{ quantite6}} },
			  { "Journal":"Le Parisien", "Nombre d'articles":{{ quantite7}} },
			  { "Journal":"Le Point", "Nombre d'articles":{{ quantite8}} },
			  { "Journal":"Les Echos", "Nombre d'articles":{{ quantite9}} },
			  { "Journal":"Sud Ouest", "Nombre d'articles":{{ quantite10}} }

			];
			
			var chart = new dimple.chart(svg, data);
			chart.addCategoryAxis("x", "Journal");
			chart.addMeasureAxis("y", "Nombre d'articles");
			chart.addSeries(null, dimple.plot.bar);
			chart.draw();
			
			  svg.selectAll("title_text")
                  .data(["Nombre d'articles pour chaque journal concernant {{mot}}"])
                  .enter()
                  .append("text")
                  .attr("x", 300)
                  .attr("y", 30 )
                  .style("font-family", "sans-serif")
                  .style("font-size", "20px")
                  .style("color", "Black")
				  .style("font-style","italic")
                  .text(function (d) { return d; });
				  
				  
		</script>


	</body>
</html>

	